.hero {
  position: relative;
  margin-bottom: 4em;
  .bannerContainer {
    width: 100%;
    height: 500px;
    color: #fff;

    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    .searchEngine {
      width: calc(100% - 10vw);
      border-radius: 5px;
      .formSearch {
        .form-control {
          height: 48px;
        }
        button {
          padding: 12px !important;
        }
      }
    }
    .bannerImage {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .bannerTextContainer {
    width: 100%;
    position: absolute;
    text-align: center;
    .bannerTitle{
      color:#fff;
      font-size: 2.4em;
    }
    .bannerText {
      max-width: 550px;
      color: #fff;
      margin: auto;
      @media (max-width: 720px) {
        margin-left: auto;
      }
      h1 {
        margin: 0;
        font-size: 3.5em;
        font-weight: 700;
        line-height: 1.33;
      }
      p {
        font-size: 18px;
        line-height: 1.61;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 720px) {
    grid-auto-columns: 65%;
  }
  @media (min-width: 765px) and (max-width: 1366px) {
    grid-auto-columns: 18%;
  }
  @media (min-width: 1366px) and (max-width: 2220px) {
    .bannerContainer {
    }
    .searchEngine {
      max-width: 300px;
      width: 100%;
      margin: auto;

      background: #fff;
    }
  }
}
