@import "../../../styles/sass/main";
.cartWrapper {
  margin-top: 75px;

  .cartContent {
    &.left {
   
      min-height: 1px;
      margin-bottom: 50px;
    }
    &.right {
      position: relative;
      background: #fff;
      border: solid 1px #eee;
      padding: .8em;
    }
    .cartBlock {
      margin-bottom: 2em;
      .blockTitle {
        font-size: 1.3em;
        font-weight: bold;
        color: $primaryColor;
      }
      .blockText {
      }
    }
    .cartDetails {
      .productDescription{
        border-bottom: dashed 1px;
      }
      .detailsHeader {
        .title {
          font-weight: 600;
          font-size: 1.3em;
        }
      }
      .productDetail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .productInfo {
          margin-bottom: 0.6em;
          .productName {
            font-weight: bold;
            font-size: 18px;
          }
          .productFeature {
            font-size: 12px;
          }
        }
      }
      
    }
    .finishCheckout{
      margin-top: 1em;
      text-align: center;
    }
  }
}
