.aside {
  position: fixed;
  z-index: 3;
  width: 100%;
  top:0;
  transform: translateX(-100%);
  transition: ease-out .3s;
  @media(min-width:990px){
    display: none;
  }
  &.mobileActive{
    transition: ease-in .3s;
   
    transform: translateX(0);
  }
  .mobileOverlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    background: rgba($color: #000000, $alpha: .6);
    z-index: -1;
    opacity: 0;
    transform: all 3s;
  }
  .headerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 60px);
    max-width: 250px;
    background: #fff;
    height: 100vh;

    .toggleNavigation {
      display: flex;
      @media (min-width: 990px) {
        display: none;
      }
    }
    .leftContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 25px 25px;
      width: 100%;
    }
    .rightContent {
      flex: 1 1;
      display: flex;
      justify-content: flex-end;
      @media (max-width: 990px) {
        display: none;
      }
    }
    .mainNavigation {
      width: 100%;
      .nav {
        padding: 0;
        margin: 0;
        list-style: none;
        .navItem {
          display: block;
          .navLink {
            display: block;
            padding: 20px 25px;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
