@import "../../../styles/sass/main.scss";
@import "~swiper/swiper.scss";

.tripPage {
  height: 100%;
  .tripHeader {
    color: black;
    padding: 3em 0;
    @media (max-width: 720px) {
      padding: 1.4em;
    }
    .tripHeaderContent {
      display: flex;
      justify-content: flex-start;
    }
  }

  .breadcrumb {
    margin: 0;
  }
  .headerTripView {
    display: flex;
    min-height: 205px;
    width: 100%;
    background: #333;
    img {
      width: 100%;
    }
    margin-bottom: 1em;
  }
  .tripMainWrapper {
    padding: 0 1em;
    margin-bottom: 1.4em;
  }
  .tripLead {
    padding: 1em 0;

    .tripLeadTitle {
      font-weight: 300;
      font-size: 3em;
      line-height: 1.2;
      margin: 0;
      color: inherit;
    }
    .tripLeadHeadLine {
      font-size: 18px;
    }
  }
  .tripCheckoutBox {
    .tripPriceTextContent {
      display: flex;
      align-items: center;
      .price {
        margin-right: 0.5em;
        padding: 5px;
        font-size: 2.3em;
        font-weight: bold;
      }
    }
    .tripCheckoutActions {
      display: flex;
      flex-direction: column;
      .checkoutButton {
        margin-top: 10px;
      }
    }
    .addCartButton {
      padding: 13px !important;
      display: block;
      width: 100%;
      margin: 1em 0;
      font-weight: bold;
    }
  }
}

.tripForm {
  box-shadow: 6px 36px 50px 6px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  border: solid 1px #eee;
  right: 0;
  background: #fff;
  color: #333;
  .tripFormHeader {
    img {
      width: 100%;
    }
  }
}

.tripTabItem {
  display: flex;
  align-items: center;
  span {
    margin-right: 8px;
  }
}

.tripFeature {
  .tripFeatureTitle {
    font-size: 24px;
    font-weight: 700;
  }
  .whatIncludes {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #333;
    .whatIncludesItem {
      width: 45%;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .whatIncludesIcon {
        align-self: flex-start;
        color: #8a92a3;
        font-size: 20px;
        margin-right: 15px;
        margin-top: 2px;
      }
      .whatIncludesText {
        font-size: 16px;
      }
    }
  }
}

.verticalTimeline {
  &:before {
    width: 0;
    border: dashed 1px $primaryColor;
  }
  .timeLineDate {
    margin: 0 16px;
    top: 0 !important;
    padding: 0 !important;
    color: #000;
    font-weight: bold !important;
    font-size: 16px !important;
  }
}

.tripPackageContent {
  .packageItem {
    width: 100%;
    height: 100px;
    min-height: 140px;
    height: auto;
    max-height: 300px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    border: dashed 1px $primaryColor;
    cursor: pointer;
    border-radius: 10px;
    &:hover{
      background: $primaryColor;
      color:#fff;
      border: dashed 1px #eee;
      .packageTitle {
        color: #fff;
      }
    }
    .packageTitle {
      color: $primaryColor;
      font-weight: bold;
    }
  }
}
// .tripPackageList {
//   .tripPackageContent {
//     margin: 1em 0;
//     overflow: auto;
//     white-space: nowrap;
//     display: flex;
//     .packageItem {
//       margin: 0.3em;
//       width: 300px;
//       border: dashed 1px #eee;
//       display: block;
//       background: #fff;
//       white-space: break-spaces;
//       padding: 1em;
//       &.selected {
//         background: $primaryColor;
//         color: #fff;
//       }
//       &:hover {
//         background: $primaryColor;
//         color: #fff;
//         cursor: pointer;
//       }

//       .packageTitle {
//         font-weight: bold;
//       }
//     }
//   }
// }
.tripPassagerTypes {
  padding: 1em 0;
}
