
@import 'variables';
$primary: purple;
$danger: red;

a{
    text-decoration: none;
    color: inherit;
}
hr{
    border-color:#eee;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.mainContent{
    padding-bottom:200px;

}
.mainWrapper{
    min-height: 100%;
}
.containerWrapper{
    max-width: 1280px;
    margin: auto;
    position: relative;
    height: 100%;
}
.sectionBlock{
    position: relative;
    padding: 4em 0;
   
    .sectionText{
        text-align: center;
        
        .sectionDescription{
            font-size: 1.2em;
        }
    }
}
.sectionTitle{
    font-weight: 700;
    font-size: 2.3em;
    margin:0;
    margin-bottom: 16px;
}

.widget{
    margin: 1.7em 0;
    &.textCenter{
        text-align: center;
    }
    .widgetTitle{
        margin:0;
        font-size: 2em;
    }
}

.slideNav {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: none;
    border: solid 1px;
    outline: none;
    box-shadow: none;
    margin-bottom: .5em;
    margin-right: .4em;
    &:focus {
        outline: none;
    }
}


.text{
    color:red;
    &:hover{
        .outroTexto{
            font-size: 1em;
        }
    }
}
.text:hover{
    
}