.header {
    width: 100%;
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.1);
  .headerWrapper{
    display: flex;
    align-items: center;
    padding: 0 3em;
    justify-content: space-between;
    max-width: 1366px;
    margin: auto;
    @media (max-width: 990px) {
      padding: 25px 25px;
      justify-content: unset;
    }
    .toggleNavigation {
      margin-right: 1.7em;
      display: flex;
      @media (min-width: 990px) {
        display: none;
      }
    }
    .leftContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex:1;
    }
    .rightContent {
      flex: 1;
      display: flex;
      justify-content: space-around;
      @media (max-width: 990px) {
        display: none;
      }
    }
    .mainNavigation {
      @media (max-width: 990px) {
        .header {
          padding: 35px 0;
        }
        display: none;
      }
      .nav {
        padding: 0;
        margin: 0;
        list-style: none;
        .navItem {
          display: inline-block;
          .navLink {
            display: block;
            padding: 25px 25px;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.cart{
   background:none;
   color:#222;
   border:none;
   outline:none !important;
   box-shadow: none !important;
   position: relative;
   .count{
     width: 17px;
     height: 17px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 100%;
     font-size: 14px;
     background:red;
     position: absolute;
     font-weight: bold;
     color: #fff;
     right: 0;
     margin-right: -3px;
   }
   span{
     font-size: 1.7em;
   }
}